a{
    text-decoration: none;
    color: pink;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}
a:hover{
    background-color: rgb(238, 236, 236);
    cursor: pointer;
}
h1{
    font-family: 'Fredoka One', cursive;
}
h2{
    font-family: 'Sahitya', serif;
}
body{
    font-family: 'Montserrat', sans-serif;
}

.navbar {
color: black;
}
.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar li{
    display: inline;
    margin-right: 5px;
}
.navbar a{
    color: pink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover{
    color: white;
}

/* ////////Home//////// */

.home-wrapper {
    text-align: center;
    top: 0;
    left: 0;
    padding-top: 100px;
    padding-bottom: 20px;
}
.profile-pic{
    border-radius: 50%;
    height: 250px;
    width: 240px;
    justify-self: center;
}

.banner-text{
    background-color: white;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
}

.banner-text h1{
    font-size: 66px;
    font-weight: bold;
    color: rgb(77, 76, 64);
}
.banner-text hr{
    border-top: 5px dotted rgb(102, 122, 113);
    width: 15%;
    margin: auto;
} 
.banner-text p{
    font-size: 20px;
    padding: 1em;
    text-align: center;
} 
 .social-links{
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
}

.social-links i{
    color: pink;
    font-size: 5em;
    padding: 8px;
} 

/* //////Projects//////// */

.projects-body {
    padding-top: 5em;
}
.projects-grid{
    display: flex;
}

/* //////Blog///// */

.blog-content{
    padding-top: 5em;
}
.blog-img{
    align-content: center;
}
.blogimg-div {
   display: flex;
   align-items: center;
}

/* Contact */
.contact-body{
    display: flex;
    padding-top: 5em;
    margin: auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow-y: scroll;
    background-color: white;
}
.contact-grid{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 90%;
    height: 80%;
    background: white;
    color: black;
    margin-bottom: 20px;
    overflow-y: scroll;
}
.contact-grid p{
    font-family: 'Oxygen', 'sans-serif';
}
.contact-grid hr {
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
.about-content{
    padding-top: 25px;
}

.contact-form-body{
    display: flex;
    padding-top: 5em;
    margin: auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow-y: scroll;
    background-color: pink;
    position: absolute;
}
.contact-form{
    background-color: white;
    width: 85%;
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #c2bfbfb3;
    max-width: 600px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 35%;
    height: 60%;
    background: white;
    color: black;
    margin-bottom: 40px;
    position: absolute;
}
.contact-form h2{
    margin-top: 0;
    font-weight: 200;
}
.form-text{
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
}
.form-text input,.form-text textarea{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
    max-width: 85%;
    font-family: 'Montserrat', sans-serif;
}
.btn{
    display: inline-block;
    padding: 14px 0;
    margin-top: 8px;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}

/* Resume */
.resumeImg{
    height: 60%;
    width: 80%;
}
.resume-page{
    padding-top: 80px;
    padding-left: 25px;
}
