a{
    text-decoration: none;
    color: pink;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}
a:hover{
    background-color: rgb(238, 236, 236);
    cursor: pointer;
}
h1{
    font-family: 'Fredoka One', cursive;
}
h2{
    font-family: 'Sahitya', serif;
}
input[type=submit] {
    background-color: white;
    border: none;
    color: lightpink;
}
input[type=submit]:hover{
    cursor: pointer;
   background-color: rgb(238, 235, 235);
}
body{
    font-family: 'Montserrat', sans-serif;
}

.navbar {
color: black;
}
.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar li{
    display: inline;
    margin-right: 5px;
}
.navbar a{
    color: pink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover{
    color: white;
}
@media(max-width: 700px){
    .navbar{
        text-align: center;
    }
    .navbar li{
        display: grid;
        grid-template-columns: 
         3fr;
    }
  }

/* ////////Home//////// */

.home-wrapper {
    text-align: center;
    top: 0;
    left: 0;
    padding-top: 50px;
    padding-bottom: 20px;
}
.profile-pic{
    border-radius: 50%;
    height: 250px;
    width: 240px;
    justify-self: center;
}
.banner-text{
    background-color: white;
    width: 75%;
    margin: auto;
}
.banner-text h1{
    font-size: 66px;
    font-weight: bold;
    color: lightpink;
}
.banner-text hr{
    border-top: 5px dotted rgb(102, 122, 113);
    width: 15%;
    margin: auto;
} 
.banner-text p{
    font-size: 20px;
    text-align: center;
} 
 .social-links{
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
}
.social-links i{
    color: rgb(206, 204, 204);
    font-size: 5em;
    padding: 8px;
    padding-top: 0;
} 
.social-links a:hover{
    background-color: white;
}

/* //////Projects//////// */

.projects-body {
    padding-top: 15px;
    text-align: center;
}
.projects-body h2{
    align-self: center;
}
.projects-grid{
    display: flex;
}
.category-tabs li{
    display: inline-block;
    margin-right: 20px;
}
.category-tabs button{
    background-color: white;
    border: none;
    color: pink;
    font-family: 'Roboto Mono', monospace;

}
.category-tabs button:hover{
    background-color: rgb(224, 229, 235);
    cursor: pointer;
    border-radius: 9px;
}
.category-tabs button:focus{
    outline: none;
}

/*cards*/
.proj-card-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    float: center;
    /* max-width: 400px; */
    flex: 1;
}
@media(max-width: 700px){
    .proj-card-wrapper {
        grid-template-columns: 
         1fr;
    } 
  }
.proj-card{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 25px;
    float: center;
}
.proj-card hr{
    border-top: 5px dotted black;
    width: 50%; 
}
.proj-card img{
    height: 250px;
    width: 400px;
}

/* //////Blog///// */

.blog-content{
    padding-top: 5em;
}
.blog-img{
    align-content: center;
}
.blogimg-div {
   display: flex;
   align-items: center;
}

/* Contact */
.contact-body{
    display: flex;
    padding-top: 5em;
    margin: auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow-y: scroll;
    background-color: white;
}
.contact-grid{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 90%;
    height: 80%;
    background: white;
    color: black;
    margin-bottom: 20px;
    overflow-y: scroll;
}
.contact-grid p{
    font-family: 'Montserrat', 'sans-serif';
}
.contact-grid hr {
    border-top: 5px dotted black;
    width: 50%;
    /* margin: auto;
    padding-top: 5px;
    padding-bottom: 5px; */
}
@media(max-width: 700px){
    .contact-grid{
        text-align: center;
        display: grid;
        grid-template-columns: 
         1fr;
    }
    .contact-form-body{
        position: flex;
        width: 500px;
    }
    .contact-form h2{
      position: relative;
      width: 500px;
    }
  }
.about-content{
    padding-top: 25px;
}

.contact-form-body{
    display: flex;
    padding-top: 5em;
    margin: auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow-y: scroll;
    background-color: pink;
    position: absolute;
}
.contact-form{
    background-color: white;
    width: 85%;
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #c2bfbfb3;
    max-width: 600px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 35%;
    height: 60%;
    background: white;
    color: black;
    margin-bottom: 40px;
    position: absolute;
}
.contact-form h2{
    margin-top: 0;

}
.contact-form form:focus{
    outline: none;
}
.form-text{
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
}
.form-text input,.form-text textarea{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
    max-width: 85%;
    font-family: 'Montserrat', sans-serif;
}
.form-text input:hover{
    background-color: rgb(238, 235, 235);
}
.form-text textarea:hover{
    background-color: rgb(238, 235, 235);
}
.btn{
    display: inline-block;
    /* padding: 14px 0; */
    /* margin-top: 8px; */
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}

/* Resume */
.resumeImg{
    height: 60%;
    width: 80%;
}
.resume-page{
    padding-top: 80px;
    padding-left: 25px;
}
