.navbar {
color: black;
}
.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar li{
    display: inline;
    margin-right: 5px;
}
.navbar a{
    color: pink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover{
    color: red;
}

.landing-grid {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 100px;
    width: 100%;
    height: 100%;
}
.profile-pic{
    border-radius: 50%;
    height: 250px;
    width: 220px;
}

.banner-text{
    background-color: black;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
}

.banner-text h1{
    font-size: 66px;
    font-weight: bold;
    color: white;
}
.banner-text hr{
    border-top: 5px dotted white;
    width: 15%;
    margin: auto;
}
.banner-text p{
    color: white;
    font-size: 20px;
    padding: 1em;
    text-align: center;
}
.social-links{
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
}

.social-links i{
    color: white;
    font-size: 5em;
    padding: 8px;
}

.projects-body {
    padding-top: 5em;
}
.projects-grid{
    display: flex;
}
.blog-content{
    padding-top: 5em;
}
.blog-img{
    align-content: center;
}
.blogimg-div {
   display: flex;
   align-items: center;
}
.contact-body{
    display: flex;
    padding-top: 5em;
    margin: auto;
    background: grey;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow-y: scroll
}
.contact-grid{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 90%;
    height: 80%;
    background: white;
    color: black;
    margin-bottom: 20px;
    overflow-y: scroll;
}
.contact-grid h2{
    font-family: 'Anton', 'sans-serif';
}
.contact-grid p{
    font-family: 'Oxygen', 'sans-serif';
}
.contact-grid hr {
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
.about-content{
    padding-top: 25px;
}
.resumeImg{
    height: 60%;
    width: 80%;
}
.resume-page{
    padding-top: 80px;
    padding-left: 25px;
}
